@page "/"
@inject IProdutoServices pizzaServices
@inject InjectServicesWeb injectServicesWeb

<!DOCTYPE html>
    <html>
    <head>
        <title>Teste</title>
    </head>
    <body>
     <!-- Header -->
    <header class="headerProfile">
           <div class="flex h-full w-full flex-col items-center justify-center">
            <img src="/img/LogoMenu.png" alt="Blazing Pizzaria" class="imgPizzas" />
            <div class="mt-2 rounded-lg bg-green-600 px-4 py-1" id="@DateTime.Now">
                <span>Seg é Dom - 18:00 as 22:00</span>
            </div>
           </div>
    </header>
    <!-- Fim Header-->
    <h2 class="mb-6 mt-9 text-center text-2xl font-bold md:text-3xl">
        Conheça nosso cardápio
    </h2>
    <div id="menu">
            <!--Produto Item-->
            <div class="grid-cols-1 mx-auto mb-16 grid max-w-7xl gap-7 px-2 md:grid-cols-2 md:gap-10">
            @if (produtosFiltro != null)
            {
                @foreach (var item in produtosFiltro)
                {
                    <div class="flex gap-2">
                    <img src="@item.Imagem.Url" alt="Pizzas" class="imgPizzas" />
                    <div>
                       
                        <p class="font-bold">@item.Nome</p>
                        <p class="text-sm">Descrição: @item.Descricao</p>
                         <p class="txt-sm">Avaliação: @item.Avaliacao.NumeroDeAvaliacoes</p>

                        <div class="mt-3 flex items-center gap-2">
                            <p class="text-lg font-bold">R$:@item.Preco</p>
                                <button class="add-to-cart-btn justify-between rounded bg-green-600 px-5"
                                data-name="@item.Nome"
                                data-price="@item.Preco">
                              <i class='bx bx-cart-add'></i>
                            </button>
                        </div>
                    </div>
                    </div>
                }
            }
            </div>
            <!--fim do produto-->
    </div>
    </body>
    </html>

@code{
    private int expandedCardId;
    private int SelectValue = 1;
    private IEnumerable<ProdutoDtos> produtos { get; set; }
    private IEnumerable<ProdutoDtos> produtosFiltro { get; set; }


    protected override async Task OnInitializedAsync()
    {
        produtos = await pizzaServices.GetItens();
        produtosFiltro = produtos;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        produtosFiltro = produtos;
    }

    protected async Task FilterPizza(string nome)
    {
        await OnAfterRenderAsync(true);

        if (nome != null)
        {
            produtosFiltro = produtosFiltro.Where(s => s.Nome.Contains(nome, StringComparison.OrdinalIgnoreCase)).ToList();

            SelectValue = 1;
        }
    }

    protected async Task SelectFilter()
    {
        await OnAfterRenderAsync(true);

        if (SelectValue == 2)
        {
            produtosFiltro = produtosFiltro.OrderBy(o => o.Preco).ToList();
            StateHasChanged();
        }
    }

    protected async Task ExpandCollapseCard(int id)
    {
        if (expandedCardId == id)
        {
            expandedCardId = 0;
        }
        else
        {
            expandedCardId = id;
            await injectServicesWeb._jSRuntime.InvokeVoidAsync("ToggleCardExpansion", id);
        }

    }

}